<table mat-table [dataSource]="animelist" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="mal_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.mal_id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="total_episodes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Episodes </th>
    <td mat-cell *matCellDef="let element"> {{element.total_episodes}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="watching_status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.watching_status}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>